<include file="public/layout" />
<!--<script type="text/javascript" src="//api.map.baidu.com/api?ak=iR2qhnXd5vrFI9wUuIRG9AWGIqykVNok&v=2.0"></script>-->
<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=75BBZ-T35KX-QYC4V-7OYAI-ZXEUQ-PIFP4"></script>
<link href="__PUBLIC__/static/css/timePicker.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/static/js/jquery-timepicker.js"></script>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.config.js"/>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.all.min.js"/>
<script type="text/javascript" charset="utf-8" src="__ROOT__/public/plugins/Ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
	.select-business-map {
		width: 485px;
		height: 270px;
	}
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
			<div class="subject">
				<h3>打卡资源管理 - 添加/编辑打卡资源</h3>
				<h5>网站系统打卡资源管理</h5>
			</div>
		</div>
	</div>
	<form class="form-horizontal" id="handleForm">
		<input name="tr_id" type="hidden" value="{$info['tr_id']}" />
		<div class="ncap-form-default">
			<dl class="row">
				<dt class="tit">
					<label><em>*</em>打卡名称</label>
				</dt>
				<dd class="opt">
					<input type="text" name="tr_name" value="{$info.tr_name}" class="input-txt">
					<span class="err" id="err-tr_name"></span>
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="tr_img"><em>*</em>图片</label>
				</dt>
				<dd class="opt">
					<div class="input-file-show">
                        <span class="show">
                            <a id="tr_img_a" class="nyroModal" rel="gal" href="{$info.tr_img}">
								<i id="tr_img_i" class="fa fa-picture-o" onmouseover="layer.tips('<img src={$info.tr_img}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"></i>
							</a>
                        </span>
           	            <span class="type-file-box">
                            <input type="text" id="tr_img" name="tr_img" value="{$info.tr_img}" class="type-file-text">
                            <input type="button" name="button" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'tr_img','tr','img_call_back')" size="30" hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
					</div>
					<span class="err" id="err-tr_img"></span>
				</dd>

			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="tr_img"><em>*</em>动图</label>
				</dt>
				<dd class="opt">
					<div class="input-file-show">
                        <span class="show">
                            <a id="tr_gif_a" class="nyroModal" rel="gal" href="{$info.tr_gif}">
								<i id="tr_gif_i" class="fa fa-picture-o" onmouseover="layer.tips('<img src={$info.tr_gif}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"></i>
							</a>
                        </span>
           	            <span class="type-file-box">
                            <input type="text" id="tr_gif" name="tr_gif" value="{$info.tr_gif}" class="type-file-text">
                            <input type="button" name="button" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'tr_gif','tr','img_call_back')" size="30" hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
					</div>
					<span class="err" id="err-tr_gif"></span>
				</dd>

			</dl>
			<div class="bot"><a class="ncap-btn-big ncap-btn-green" id="submit">确认提交</a></div>
		</div>
	</form>
</div>
<script type="text/javascript">
	//单图上传
	function img_call_back(fileurl_tmp , elementid)
	{
		$("#"+elementid).val(fileurl_tmp);
		$("#"+elementid+'_a').attr('href', fileurl_tmp);
		$("#"+elementid+'_i').attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
	}
	$(function () {
		$(document).on("click", '#submit', function (e) {
			$('#submit').attr('disabled',true);
			verifyForm();
		})
	});
	function verifyForm(){
		$('span.err').hide();
		var data = $('#handleForm').serialize();
		var tr_id = $("input[name='tr_id']").val();
		if(!tr_id){
			data += '&act=add';
		}else{
			data += '&act=edit';
		}
		$.ajax({
			type: "POST",
			url: "{:url('postHandle')}",
			data: data,
			async:false,
			dataType: "json",
			error: function () {
				layer.alert("服务器繁忙, 请联系管理员!");
			},
			success: function (data) {
				if (data.status == 1) {
					layer.msg(data.msg,{icon: 1,time: 2000},function(){
						location.href = "{:U('index')}";
					});
				} else {
					$('#submit').attr('disabled',false);
					$.each(data.result, function (index, item) {
						var id = index.replace('[]','');
						$('#err-'+id).text(item).show();
					});
					layer.msg(data.msg, {icon: 2,time: 3000});
				}
			}
		});
	}
</script>
</body>
</html>