<include file="public/layout" />
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>动态管理</h3>
				<h5>动态索引与管理</h5>
			</div>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		<ul>
            <li>>动态操作, 在此管理.</li>
        </ul>
	</div>
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>动态列表</h3>
				<h5>(共{$page->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
			<form class="navbar-form form-inline" action="{:U('Admin/dynamic/index')}" method="get">
				<div class="sDiv">
					<div class="sDiv2">
						<input size="30" name="keywords" value="{$Request.param.keywords}" placeholder="动态关键词" class="qsbox" type="text">
						<input type="submit" class="btn" value="搜索">
					</div>
				</div>
			</form>
		</div>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="center" abbr="article_title" axis="col3" class="">
							<div style="text-align: center; width: 50px;" class="">ID</div>
						</th>
						<th align="center" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 100px;" class="">昵称</div>
						</th>
						<th align="center" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 300px;" class="">动态内容</div>
						</th>
						<th align="center" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 500px;" class="">图片</div>
						</th>
						<th align="center" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 100px;" class="">显示</div>
						</th>
						<th align="center" axis="col1" class="handle">
							<div style="text-align: center; width: 350px;">操作</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="tDiv">
			<div class="tDiv2">
				<div class="fbutton"> <a href="{:U('Admin/dynamic/info')}">
					<div class="add" title="添加动态">
						<span><i class="fa fa-plus"></i>添加动态</span>
					</div>
				</a> </div>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<volist name="list" id="val">
						<tr>
							<td class="sign" axis="col0">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
							<td align="center" abbr="article_title" axis="col3" class="">
								<div style="text-align: center; width: 50px;" class="">{$val.dynamic_id}</div>
							</td>
							<td align="center" abbr="ac_id" axis="col4" class="">
								<div style="text-align: left; width: 100px;" class="">{$val.user.nickname}</div>
							</td>
							<td align="center" abbr="ac_id" axis="col4" class="">
								<div style="text-align: left; width: 300px;" class="">{$val.dynamic_content}</div>
							</td>
							<td align="center" abbr="article_time" axis="col6" class="">
								<div style="text-align: center; width: 500px;height: 42px;padding: 0 8px;" class="">
									<foreach name="val.dynamic_images" id="vo">
										<img src="{$vo}" width="42"/>
									</foreach>
								</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 100px;">
									<if condition="$val['dynamic_status'] eq 1">
										<span style="padding: 1px 6px;margin: 0 5px 0 0;" class="yes" onClick="changeTableVal('dynamic','dynamic_id','{$val.dynamic_id}','dynamic_status',this)" ><i class="fa fa-check-circle"></i>是</span>
										<else />
										<span style="padding: 1px 6px;margin: 0 5px 0 0;" class="no" onClick="changeTableVal('dynamic','dynamic_id','{$val.dynamic_id}','dynamic_status',this)" ><i class="fa fa-ban"></i>否</span>
									</if>
								</div>
							</td>
							<td align="left" class="handle">
								<div style="text-align: left; width: 350px;">
									<a class="btn blue" href="{:U('dynamic/commentList',array('dynamic_id'=>$val['dynamic_id']))}"><i class="fa fa-search"></i>评论列表</a>
									<a class="btn red" data-url="{:U('dynamic/postHandle')}" data-id="{$val.dynamic_id}" onclick="delfun(this)"><i class="fa fa-trash-o"></i>删除</a>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</volist>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$page} </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});
	});
	function delfun(obj) {
		layer.confirm('确认删除？', {
					btn: ['确定', '取消'] //按钮
				}, function () {
					$.ajax({
						type: 'post',
						url: $(obj).attr('data-url'),
						data: {del_id: $(obj).attr('data-id'),act:'del'},
						dataType: 'json',
						success: function (data) {
							layer.closeAll();
							if (data.status == 1) {
								layer.msg(data.msg, {icon: 1});
								$(obj).parent().parent().parent().remove();
							} else {
								layer.msg(data.msg, {icon: 2, time: 2000});
							}
						}
					})
				}, function (index) {
					layer.close(index);
				}
		);
	}
</script>
</body>
</html>